chromadb
sentence-transformers
torch
transformers
google-generativeai
python-dotenv

langchain
langchain-core
langchain-community
langchain-chroma
langchain-huggingface
langchain-google-genai
langchain-text-splitters
langchain-ollama
langgraph

pymupdf
python-docx

numpy
pandas
